body {
  margin: 0;
  background: #0f0f0f;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  color: white;
  box-sizing: border-box;
}

a {
  color: white;
}

header {
  height: 400px;
  background: linear-gradient(180deg, #d40000 53.65%, rgba(212, 0, 0, 0) 100%);
  padding: 64px;
}

header p {
  line-height: 1.6;
}

.title-img {
  width: 100%;
  margin-top: 16%;
}

#intro-legend {
  display: grid;
  grid-template-columns: auto 30%;
  padding: 64px;
  font-weight: 300;
  grid-gap: 8%;
}

#story-intro {
  padding-top: 36px;
}

#story-intro p {
  line-height: 1.6;
}

#viz-title {
  margin: 0 0 24px 6%;
}

.grid-main {
  display: grid;
  grid-template-columns: 70% auto;
  position: relative;
}

#viz {
  padding: 0 2% 0 0;
  display: inline-block;
}

#sidebar {
  /* background: teal; */
  position: sticky;
  position: -webkit-sticky;
  top: 4%;
  height: 92vh;
  padding: 12px;
}

.race-label {
  font-family: Sans-Serif;
}

/* Main Stats */

.stats-grid {
  display: grid;
  grid-template-columns: 40% 60%;
}

/* Detail Stats */
#race-details-wrapper {
  display: none;
  position: absolute;
  width: 350px;
  background: rgba(15, 15, 15, 0.95);
  border: 2px solid #323232;
  padding: 16px;
}

#ferrari-races-count {
  font-size: 12.8px;
}

#races-count-wrapper,
#races-count-right {
  display: inline-block;
}

#races-count-left {
  width: 10%;
  /* height: 20px;
    background: coral; */
}

#races-count-right {
  vertical-align: top;
  margin-top: 16px;
  margin-left: 24px;
}

#races-count-wrapper {
  width: 77%;
}

#races-count {
  margin: 0 0 8px 0;
}

#race-header-title {
  margin-bottom: 8px;
  font-weight: 700;
}

#temp-image {
  margin-right: 24px;
}

#temp-image path {
  fill: red;
  stroke: blue;
}

#race-header-details > div {
  display: inline-block;
}

#race-details {
  transform: translateY(-20px);
  font-size: 13.6px;
}

#race-details p {
  margin: 0;
}

#drivers {
  font-size: 12.8px;
}

.driver-div {
  display: inline-block;
  width: 50%;
  height: 120px;
  margin-bottom: 24px;
}

.driver-helmet,
.driver-number {
  display: inline-block;
}
.driver-number {
  margin: 0 0 0 10px;
  transform: translateY(-10px);
  font-size: 1.5rem;
  font-weight: 700;
}

.driver-name {
  margin: 0;
}

.race {
  cursor: pointer;
}

.tooltip-driver-result-wrapper {
  margin-top: 8px;
}

.tooltip-driver-position {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tooltip-driver-position p {
  margin: 0px;
  text-align: center;
  color: #0f0f0f;
  font-size: 1rem;
  font-weight: 700;
  line-height: 32px;
}

.tooltip-driver-details-wrapper {
  display: inline-block;
}

.tooltip-driver-symbols,
.tooltip-driver-lead {
  display: block;
}

.tooltip-driver-symbols {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

#story-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  border-bottom: 7px solid #d40000;
}

#story {
  font-size: 14.4px;
  font-weight: 300;
  line-height: 1.7;
}

#story span {
  font-weight: 800;
}

#story a {
  border-bottom: 2px solid #d40000;
  font-weight: 600;
  cursor: pointer;
}
