body {
  width: 100%; 
  margin: 0;
  background: #0f0f0f;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  color: white;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden!important; 
}

#story-title {
  display: none;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

a {
  color: white;
}

header {
  height: 400px;
  background: linear-gradient(180deg, #d40000 70.65%, rgba(212, 0, 0, 0) 100%);
  padding: 64px 64px 120px 64px;
  font-weight: 300;
}

#header-img {
  display: flex;
  justify-content: space-around;
}

#header-img img {
  height: 300px;
}

#header-title {
  display: grid;
  grid-template-columns: 16% 66% 16%;
  margin-bottom: 60px;
  justify-content: center;
}

header p {
  line-height: 1.6;
  text-align: center;
}

.title-img {
  width: 100%;
}

#gif-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  padding: 60px 10%;
}

#gif-wrapper img {
  width: 100px;
}

#race-portrait-label {
  margin-top: 64px;
  margin-bottom: 0px;
  font-size: 20px;
}

#intro-legend {
  /* display: grid;
  grid-template-columns: auto 30%; */
  padding: 64px;
  font-weight: 300;
  grid-gap: 8%;
}

.story-intro {
  padding: 0 20%;
  text-align: center;
  line-height: 1.6;
}

.p-bold {
  font-weight: 700;
}

#legend-wrapper {
  display: flex;
  justify-content: space-around;
}

#legend-wrapper img {
  height: 400px;
}

#viz-title {
  margin: 0 0 24px 6%;
}

#viz-title img {
  width: 60%;
}

.grid-main {
  display: grid;
  grid-template-columns: 70% auto;
  position: relative;
}

#viz {
  padding: 0 2% 0 0;
  display: inline-block;
  position: relative;
}

#story-stats-wrapper {
  position: relative;
}

#stats-wrapper {
  position: absolute;
  width: 100%;
  bottom: -70px;
}

#stats-wdc-wrapper {
  width: 78%;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.85rem;
}

#stats-wdc-wrapper p {
  display: inline-block;
  font-size: 0.85rem;
}

#sidebar {
  /* background: teal; */
  position: sticky;
  position: -webkit-sticky;
  top: 4%;
  height: 92vh;
  padding: 12px;
}

#wDcSymbols, #wCcSymbols {
  height: 40px; 
}

.race-label {
  font-family: Sans-Serif;
}

/* Main Stats */

.stats-grid {
  display: grid;
  grid-template-columns: 40% 60%;
}

/* Detail Stats */
#race-details-wrapper {
  display: none;
  position: absolute;
  width: 320px;
  background: rgba(15, 15, 15, 0.95);
  border: 1px solid #323232;
  padding: 16px;
  box-sizing: border-box;
  z-index: 1000;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#ferrari-races-count {
  font-size: 0.8rem;
  margin-top: 8px;
}

#races-count-wrapper
/* , #races-count-right  */
{
  display: inline-block;
}

#races-count-left {
  width: 10%;
  /* height: 20px;
    background: coral; */
}

/* #races-count-right {
  vertical-align: top;
  margin-top: 16px;
  margin-left: 24px;
} */

#races-count-wrapper {
  width: 100%;
}

#races-count {
  margin: 0px 0px 8px 0px;
}

#race-header-title {
  margin-bottom: 8px;
  font-weight: 700;
}

#circuit-image {
  margin-right: 24px;
}

#circuit-image path {
  fill: red;
  stroke: blue;
}

#race-header-details > div {
  display: inline-block;
}

#race-details {
  transform: translateY(-20px);
  font-size: 0.8rem;
  width: 50%;
}

#race-circuit {
  margin: 0px; 
}

#race-date {
  margin: 8px 0px 0px 0px;
}

#drivers {
  font-size: 0.8rem;
}

.driver-div {
  display: inline-block;
  /* width: 50%; */
  height: 120px;
  margin-bottom: 24px;
}

.driver-helmet,
.driver-number {
  display: inline-block;
}
.driver-number {
  margin: 0 0 0 10px;
  transform: translateY(-10px);
  font-size: 1.25rem;
  font-weight: 700;
}

.driver-name {
  margin: 0px 8px 0px 0px;
  height: 24px; 
}

.race {
  cursor: pointer;
}

#ferrari-races-count {
  display: block;
}

.tooltip-driver-result-wrapper {
  margin-top: 8px;
}

.tooltip-driver-position {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: top;
}

.tooltip-driver-position p {
  margin: 0px;
  text-align: center;
  color: #0f0f0f;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 26px;
}

.tooltip-driver-details-wrapper {
  display: inline-block;
}

.tooltip-driver-symbols,
.tooltip-driver-lead {
  display: block;
}

.tooltip-driver-symbols {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tooltip-driver-symbols-labels {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 9px;
}

.tooltip-driver-symbols-labels p {
  width: 20px;
  margin: 6px 0 0 0;
  text-align: center;
}

/* #tooltip-driver-laps-led {
  margin-top: 16px;
} */

#tooltip-driver-car {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 11px;
  margin-right: 8px; 
}

.car-image {
  width: 60px;
margin-right: 4px;
}

#story-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  border-bottom: 7px solid #d40000;
}

#story {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.7;
  margin: 0;
}

#story span {
  font-weight: 800;
}

#story a {
  border-bottom: 2px solid #d40000;
  font-weight: 600;
  cursor: pointer;
}

footer {
  font-weight: 300;
  padding: 64px;
}

.footer-title {
  font-size: 1rem;
  font-weight: 700;
}

@media only screen and (min-width: 1681px) {

  #gif-wrapper {
    padding: 60px 20%;
  }

  #story {
    font-size: 1rem;
  }

  #sidebar {
    margin-right: 120px; 
  }

  .grid-main {
    grid-template-columns: 55% auto;
  }
}

@media only screen and (max-width: 1000px) {
  #header-title {
    grid-template-columns: 8% 84% 8%;
  }

  #intro-legend {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    padding: 64px;
    font-weight: 300;
    grid-gap: 8%;
  }

  
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
  #stats-wrapper {
    display: none!important;
  }
  #story {
    font-size: 11.5px;
  }

  footer {
    line-height: 1.4;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 812px) {

  .grid-main {
    grid-template-columns: 55% auto;
  }

  #stats-wdc-wrapper {
    width: 100%;
  }

  .championship-symbol {
    width: 10px;
    height: 10px;
  }

  #race-header-title {
    font-size: 0.85rem;
    margin-bottom: 8px;
  }

  #circuit-image {
    margin-right: 8px;
  }

  #circuit-image img {
    height: 40px;
    width: 40px;
  }

  #race-details {
    vertical-align: top;
    transform: translateY(0);
  }

  #race-details,
  #ferrari-races-count,
  #drivers {
    font-size: 11.5px;
  }

  #ferrari-races-count {
    display: none;
  }

  .driver-div {
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .driver-name {
    height: 24px;
  }

  .driver-helmet {
    width: 25%;
    height: auto;
  }
  .driver-number {
    font-size: 0.8rem;
    vertical-align: middle;
    transform: translateY(0px);
    margin-bottom: 8px;
  }

  .tooltip-driver-position {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .tooltip-driver-position p {
    font-size: 0.8rem;
    line-height: 27px;
  }

  .tooltip-driver-symbols,
  .tooltip-driver-symbols-labels {
    width: 75%;
    font-size: 7.5px;
  }

  #tooltip-driver-car {
    width: 74px;
    font-size: 9px;
  }

  #tooltip-driver-car p {
    margin: 0px;
  }

  .car-image {
    width: 30px;
  }
}

.championship-symbol {
  background: #d40000;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #story {
    font-size: 0.85rem;
  }
  #stats-wdc-wrapper {
    width: 100%;
  }

  #stats-wdc-wrapper p {
    font-size: 12px;
  }
}


@media only screen and (max-width: 814px) and (orientation: landscape) {
  #stats-wrapper {
    display: none;
  }
  #story {
    font-size: 11.5px;
  }

  footer {
    line-height: 1.4;
    font-size: 0.9rem;
  }

  #sidebar {
    top: 2%;
  }
}

@media only screen and (max-height: 375px) and (orientation: portrait) {
  #stats-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  header {
    padding: 64px 32px 0 32px;
  }

  #header-img img {
    height: 200px;
  }
}

#turn-device {
  display: none;
  text-align: center;
  margin-bottom: 500px;
}

#turn-device.open {
  display: block;
}

#turn-device img {
  width: 48px;
}
